# Basic Python

## 1. Split this string

In [19]:
s = "Hi there Sam!"

In [20]:
print(s.split())

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [22]:
planet = "Earth"
diameter = 12742

In [28]:
print("The diameter of {0} is {1} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [24]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [25]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [6]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [11]:
print("An array of 10 zeros:",np.zeros(10))

An array of 10 zeros: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [7]:
print("An array of 10 fives:",np.ones(10)*5)

An array of 10 fives: [5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [10]:
print("An array of all the even integers from 20 to 35:",np.arange(20,35,2))

An array of all the even integers from 20 to 35: [20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [12]:
print(np.arange(0,9).reshape(3,3))

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [14]:
a=np.array([1,2,3])
b=np.array([4,5,6])
print(np.concatenate((a,b)))

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [15]:
import pandas as pd

In [16]:
dataframe={'Name':['A','B','C'], 'Gender':['F','M','M']}
print(pd.DataFrame(dataframe))

  Name Gender
0    A      F
1    B      M
2    C      M

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [17]:
import datetime
a=datetime.date(2023,1,1)
b=datetime.date(2023,2,10)
diff = b-a
for i in range(diff.days + 1):
    print ((a + datetime.timedelta(i)).isoformat())

2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09
2023-02-10

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [18]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [27]:
df=pd.DataFrame(lists)
df=df.transpose()
df.columns=['no','name','age']
print(df)

    no name  age
0    1    2    3
1  aaa  bbb  ccc
2   22   25   24